<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Choose a Direction", busdirections_path( params[:id], params[:rtnm] ) %></li>
  <li><%= link_to "Choose a Stop", busstops_path( params[:id], params[:rtnm], params[:dir], params[:stpnm] ) %></li>
  <li class="active">Upcoming Buses</li>
</ol>

<% @stopname = params['stpnm'] %>

<a href="javascript:window.location.reload();" class="pull-right">Refresh</a>

<h3><%= @stopname %>, Route <%= params['id']%> <%= params['dir']%></h3>

<ul class="list-group">
  <% @buspredictions.each do |l| %>
    <%
      timestamp = l['tmstmp']
      year = timestamp[0,4]
      month = timestamp[4,2]
      day = timestamp[6,2]
      hour = timestamp[9,2]
      min = timestamp[12,2]
      currenttime = Time.local(year,month,day,hour,min)

      prediction = l['prdtm']
      year = prediction[0,4]
      month = prediction[4,2]
      day = prediction[6,2]
      hour = prediction[9,2]
      min = prediction[12,2]
      predictiontime = Time.local(year,month,day,hour,min)

      timedif = (predictiontime - currenttime)/60
    %>

  <li class="list-group-item">
    
    <%= timedif.to_int %> Min (to <%= l['des'] %>)

     <a href="#" class="btn btn-sm btn-info" data-toggle="popover" title="" data-content="<%= l['rt'] %> <%= l['rtdir'] %> to <%= l['des'] %> <%= timedif.to_int %> Min (to <%= l['des'] %>) Current Time: <%= currenttime.strftime("%I:%M%p") %> Arrival Time: <%= predictiontime.strftime("%I:%M%p") %>" data-original-title="Bus <%= l['vid'] %>">Click to toggle popover</a>

  </li>
  <% end %>
</ul>

<script>
  $('.btn').popover('show');
</script>