<ol class="breadcrumb">
  <li><%= link_to "Route", root_path %></li>
  <li><%= link_to "Direction", busdirections_path( params[:id], params[:rtnm] ) %></li>
  <li><%= link_to "Stop", busstops_path( params[:id], params[:rtnm], params[:dir], params[:stpnm] ) %></li>
  <li class="active">Upcoming Buses</li>
</ol>

<% @stopname = params['stpnm'] %>

<a href="javascript:window.location.reload();" class="pull-right">Refresh</a>

<h2><%= [ params[:id], params[:rtnm] + ",", params[:dir] + ",", @stopname ].join(" ") %></h2>

<ul class="list-group">
  <% @buspredictions.each do |l| %>
    <%
      timestamp = l['tmstmp']
      year = timestamp[0,4]
      month = timestamp[4,2]
      day = timestamp[6,2]
      hour = timestamp[9,2]
      min = timestamp[12,2]
      currenttime = Time.local(year,month,day,hour,min)

      prediction = l['prdtm']
      year = prediction[0,4]
      month = prediction[4,2]
      day = prediction[6,2]
      hour = prediction[9,2]
      min = prediction[12,2]
      predictiontime = Time.local(year,month,day,hour,min)

      timedif = (predictiontime - currenttime)/60
    %>

  <li class="list-group-item">

    <%= timedif.to_int %> Min (to <%= l['des'] %>)

    <a data-toggle="modal" href="#modal-<%= l['vid'] %>" class="pull-right">More Info</a>

    <!-- Modal -->
    <div class="modal fade" id="modal-<%= l['vid'] %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><%= l['rt'] %> <%= l['rtdir'] %> to <%= l['des'] %></h4>
          </div>
          <div class="modal-body">
            Bus #<%= l['vid'] %><br />
            <%= timedif.to_int %> Min (to <%= l['des'] %>)<br />
            Current Time: <%= currenttime.strftime("%I:%M%p") %><br />
            Arrival Time: <%= predictiontime.strftime("%I:%M%p") %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </li>
  <% end %>
</ul>
