<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Choose a Direction", busdirections_path( params[:id], params[:rtnm] ) %></li>
  <li><%= link_to "Choose a Stop", busstops_path( params[:id], params[:rtnm], params[:dir], params[:stpnm] ) %></li>
  <li class="active">Upcoming Buses</li>
</ol>

<% @stopname = params['stpnm'] %>

<a href="javascript:window.location.reload();">Refresh</a>

<h3><%= @stopname %>, Route <%= params['id']%> <%= params['dir']%></h3>

<ul>
  <% @buspredictions.each do |l| %>
    <%
      timestamp = l['tmstmp']
      year = timestamp[0,4]
      month = timestamp[4,2]
      day = timestamp[6,2]
      hour = timestamp[9,2]
      min = timestamp[12,2]
      currenttime = Time.local(year,month,day,hour,min)

      prediction = l['prdtm']
      year = prediction[0,4]
      month = prediction[4,2]
      day = prediction[6,2]
      hour = prediction[9,2]
      min = prediction[12,2]
      predictiontime = Time.local(year,month,day,hour,min)

      timedif = (predictiontime - currenttime)/60
    %>

  <li>
    <%= timedif.to_int %> Min (to <%= l['des'] %>)
  </li>
  <% end %>
</ul>

<h3>Details</h3>

<% @buspredictions.each do |l| %>
  <%
    timestamp = l['tmstmp']
    year = timestamp[0,4]
    month = timestamp[4,2]
    day = timestamp[6,2]
    hour = timestamp[9,2]
    min = timestamp[12,2]
    currenttime = Time.local(year,month,day,hour,min)

    prediction = l['prdtm']
    year = prediction[0,4]
    month = prediction[4,2]
    day = prediction[6,2]
    hour = prediction[9,2]
    min = prediction[12,2]
    predictiontime = Time.local(year,month,day,hour,min)

    timedif = (predictiontime - currenttime)/60
  %>

  <h6>Bus <%= l['vid'] %></h6>

  <p><%= l['rt'] %> <%= l['rtdir'] %> to <%= l['des'] %></p>
  <p><%= timedif.to_int %> Min (to <%= l['des'] %>)</p>
  <p>Current Time: <%= currenttime.strftime("%I:%M%p") %></p>
  <p>Arrival Time: <%= predictiontime.strftime("%I:%M%p") %></p>

<% end %>
